body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
  color: white;
  padding-top: 1rem;
}

nav {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

.entries-btn {
  margin-left: 2rem;
  padding-top: 15px;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 2rem;
}

header > h2 {
  height: 2rem;
}

img {
  width: 100%;
}

.new-entry-btn {
  margin-top: 1rem;
  position: relative;
  left: 92%;
  color: white;
  background-color: #562b81;
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  justify-content: right;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .new-entry-btn {
    position: relative;
    left: 87%;
  }
}

textarea,
input {
  width: 100%;
  border-radius: 5px;
}

.create-new-entry-btn {
  color: white;
  background-color: #562b81;
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
  position: relative;
  left: 92%;
  bottom: 33%;
}

@media screen and (max-width: 768px) {
  .create-new-entry-btn {
    position: relative;
    left: 87%;
  }
}
